@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

*,
*::before,
*::after {
	box-sizing: border-box; 
}

html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

@-ms-viewport {
	width: device-width; 
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block; 
}

body {
	width: 100%;
	/*height: 500px;*/
	background-color: #eaeaea !important;
	margin: 0;
	font-family: Montserrat, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #000;
	text-align: left;
	background-color: #f8f9fe; 
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.cover {
	float: left;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 60vw;
}

.login-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

@media only screen and (max-width: 991px) {
	.login-wrapper {
		background-image: url(../img/hec.jpg);
		background-position: center;
		background-size: cover;
	}

	.login-wrapper .card-body {
		box-shadow: 5px 5px 2px 1px rgba(0,0,0,.3)!important;
	}
}

.card {
	width: 80%;
}

.card-body {
    padding-top: .75rem!important;
}

.form-control-lg {
    padding: .35rem!important;
    font-size: 1rem!important;
}

.header {
	padding: 0 !important;
}

.topBar {
	background-color: #000; /* #e0b400; */
	height: 60px;
}

.topBarQueue {
	text-shadow: 2px 3px 2px rgba(0,0,0,0.89);
	background-color: #e0b400;
	background-image: url(../img/bg-ucf.png);
	background-position: top;
	height: 60px;
}

.sidebar {
	padding: 20px 0;
	width: 140px;
	height: auto;
	background-color: #fff;
	box-shadow: 5px 5px 2px 1px rgba(200,200,200,1);
}

.queueLink {
	padding: 5px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.05);
	width: auto;
	margin-top: 25px;
	display: block;
	font-size: .9em;
	/*float: right;*/
}

.title {
	cursor: pointer;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.5rem;
	font-size: 1.8em;
	margin-left: 20px;
	vertical-align: middle;
	line-height: 60px;
	float: left;
}

.information {
	background-color: #e0b400;
	background-image: url(../img/bg-ucf.png);
	background-position: top;
	height: 230px;
}

.circleContainer {
	height: inherit;
  	align-items: center;
	margin: 0 auto;
	text-align: center;
	display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
  	flex-wrap: nowrap;              /* default value; can be omitted */
  	justify-content: center; /* switched from default (flex-start, see below) */
}

.anotherCircleContainer {
	height: inherit;
  	align-items: center;
	text-align: center;
	display: flex;                  /* establish flex container */
  	flex-direction: row;            /* default value; can be omitted */
  	flex-wrap: wrap;              /* default value; can be omitted */
  	justify-content: flex-start; /* switched from default (flex-start, see below) */
}

.circle {
	margin: 0 40px 10px;
	min-width: 90px;
	min-height: 90px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 1);
	/*border: solid #000 4px;*/
	font-size: 2em;
	color: #fff;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 90px;
}

.circle:before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#picture {
	min-width: 140px;
	min-height: 140px;
	max-width: 140px;
	max-height: 140px;
	border: solid #fff 4px;
}

.caption {
	padding-top: 30px;
	color: #fff;
	font-weight: 500;
}

#name {
	font-size: 1.6em;
	font-weight: 900;
}

.menu-item {
	text-align: center;
	margin: 20px 0;
	color: #000;
	cursor: pointer;
}

.menu-item p {
	margin: 10px;
	font-size: 0.8em;
}

.menu-icon {
	font-size: 2.5em;
}

.line {
	height: 1px;
	width: 50%;
	margin: 0 auto;
	background-color: #eaeaea;
}

.sub-title {
	color: #000;
	font-weight: 700;
	font-size: 1.5em;
	margin-bottom: 20px;
}

#top-line {
	display: block;
	margin-bottom: 3px;
	background-color: #d39700;
	height: 4px;
	width: 45px;
}

#add-course {
	font-size: 4em;
	text-align: center;
	color: rgba(0,0,0,0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}

.course-wrapper {
	display: flex;
	align-items: stretch; 
	justify-content: flex-start!important;
	flex-wrap: wrap;
}

.course-card {
	width: 262px;
	min-width: 210px;
	margin-bottom: 5%;
	margin-right: 5%;
	cursor: pointer;
}

.course-header {
	background-color: #000;
	height: 60px;
}

.stripe {
	height: 100vh;
	float: right;
	width: 30px;
	opacity: 0.85;
}

.add-ta {
	width: 100%;
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.3);
	border: none;
	color: #000;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: .15rem;
}

.add-ta:hover {
	background-color: #000;
}

.close:hover {
	background-color: #000;
	color: #fff;
}

.add-ta {
	outline: 0!important;
}

.scrollableWrapper {
	overflow:hidden;
    overflow-y: scroll;
    max-height: 350px;
}

.stat-table > tbody > tr > td,
.stat-table > thead > tr > th {
	width: 25%;
}

.pop-outer {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pop-inner {
	border-radius: .25rem;
	background-color: #fff;
	width: 600px;
	padding: 5px;
	margin: 5% auto;
}

@media only screen and (max-width: 992px) {
	.pop-inner {
		width: 80vw;
	}
}

.custom select {
	margin: 10px 0 20px 0;

}

#dropdown-basic-button {
	float: right;
	background-color: transparent;
	border: none;
	border-radius: 0;
}

/* =================================== */

.queueWrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: no-wrap;
	height: 100%;
	margin: 0 auto;
	width: 90vw;
	padding-top: 50px;
}

.table-wrap {
	width: 87%;
	height: auto;
	padding: 0 30px;
}

.sidebar-long {
	display: none;
}

.accordion {
	border-radius: 0!important;
}

.accordion .card {
	border-radius: 0!important;
	background-color: transparent;
    border: none;
    margin-bottom: 10px;
}

.accordion .card-header {
	cursor: pointer;
	border-radius: 0!important;
	background-color: rgba(0, 0, 0, 0.3);
	color: #000;
	font-size: 1.05em;
	font-weight: 500;
}

.accordion .table tbody{
	white-space: nowrap;
}

@media only screen and (max-width: 575px) {
	.queueWrap {
		width: auto;
	}

	.table-wrap {
		width: 100vw;
	}

	.sidebar-long {
		display: block;
		left: 0!important;
	    text-align: center;
	    background-color: #fff;
	    width: 60px;
	    height: 100vh;
	    border-right: 1px solid #ededed;
	}

	.sidebar-long img {
	    width: 40px;
	    margin-top: 10px;
	}

	.sidebar-long svg {
	    font-size: 2em;
	    margin-top: 30px;
	}

	.last {
	    margin-top: 510px !important;
	}

	.line {
	    width: 60%;
	    margin: 0 auto;
	    margin-top: 10px;
	    border-top: 1px solid #ededed;
	}
}